<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>FreeCodeCamp API Basejump: Request Header Parser</h1>
         <h3>User Stories</h3>
          <ul>
            <li>I can get the IP address, language and operating system for my browser.</li>
          </ul>
        <h3>Get Info For Browser</h3>
        <p>
          https://fcc-ian-request-header.glitch.me/api/whoami
        </p>
      </div>
      <div id="madeby">
        <h6>Made by <a href="https://www.freecodecamp.org/irichard620" alt="Ian's FCC" id="fcc-link">Ian Richard</a></h6>
      </div>
   </body>
</html>
